
	
		<div class="edit">
			<h2>User info</h2>
			<%= form_for(@user) do |f| %>

			<!-- error message -->
				<% if @user.errors.any? %>
					<div id="error_explanation" class="alert alert-danger">
						<h2><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h2>
					  <ul>
					    <% @user.errors.full_messages.each do |message| %>
					      <li><%= message %></li>
					    <% end %>
					  </ul>
					</div>
				<% end %>

				 <div class="field">
			       <label>Name</label>
			       <%= f.text_field :name %>
			     </div>
			     <div class="field">
			       <label>Image</label>
			       <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
			     </div>
			  	 <div class="field">
			       <label>Introduction</label>
			       <%= f.text_area :introduction %>
			     </div>
			  	 <div><%= f.submit "Update User" %></div>

			<% end %>
		</div>
	

